body {
    font-family: Georgia, serif;
    color: #FFFFFF;
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 176, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

h1 {
    display: block;
    margin: 0 auto 25px auto;
    text-align: center;
    font-size: 500% !important;
    font-weight: 600;
    letter-spacing: -0.055em;
    color: #FFFFFF !important;
}

h2 {
    display: block;
    margin: 0 auto 60px auto;
    text-align: center;
    font-weight: 400;
    font-size: 1.25em;
    letter-spacing: -0.015em;
}

.search-box {
    position: relative;
    width: 100%;
    max-width: 360px;
    border: none;
    height: 60px;
    border-radius: 120px;
    overflow: hidden;
}

.search-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* Это позволяет кликам передаваться через .search-border */
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 1.22em;
    transition: transform 400ms 220ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    color: #FFFFFF;
}

.border {
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 5;
    stroke-miterlimit: 10;
    stroke-dasharray: 740;
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
}

.border-searching .border {
    stroke-dashoffset: 459;
    transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
}

#search {
    width: 100%;
    /* Уменьшение ширины на размер отступов */
    height: 60px;
    border-radius: 120px;
    border: none;
    background: rgba(255, 255, 255, 0);
    padding: 0 68px;
    /* Уменьшение padding чтобы текст не вылезал за границы */
    color: #FFFFFF;
    font-size: 1.32em;
    font-weight: 400;
    letter-spacing: -0.015em;
    outline: none;
}

#search::-webkit-input-placeholder {
    color: #FFFFFF;
}

#search::-moz-placeholder {
    color: #FFFFFF;
}

#search:-ms-input-placeholder {
    color: #FFFFFF;
}

#search:-moz-placeholder {
    color: #FFFFFF;
}

#search::-moz-selection {
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.25);
}

#search::selection {
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.25);
}

.button {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform, opacity;
    z-index: 0;
    text-decoration: none;
}

.button:hover {
    background: #F6F9FE;
    color: #174ea6;
}

.button:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

.button:focus {
    outline: none;
    border: 2px solid #4285f4;
}

.button:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}